{% extends "base.html" %}

{% block content %}
<h2>Editar Demanda</h2>


<form method="POST" action="/editar/{{ demanda[0] }}">
    <div>
        <label>Título:</label><br>
        <input type="text" name="titulo" value="{{ demanda[1] }}" size="50">
    </div>
    <br>
    
    <div>
        <label>Descrição:</label><br>
        <textarea name="descricao" rows="5" cols="50">{{ demanda[2] }}</textarea>
    </div>
    <br>
    
    <div>
        <label>Solicitante:</label><br>
        <input type="text" name="solicitante" value="{{ demanda[3] }}">
    </div>
    <br>
    
    <div>
        <label>Data de Criação:</label><br>
        <input type="text" value="{{ demanda[4] }}" disabled>
    </div>
    <br>

    <div>
        <label>Prioridade:</label><br>
        <select name="prioridade" required>
            <!-- No editar.html, você pode usar um if para setar o 'selected' baseado em demanda[5] -->
            <option value="Baixa">Baixa</option>
            <option value="Média">Média</option>
            <option value="Alta">Alta</option>
            <option value="Urgente">Urgente</option>
        </select>
    </div>
    <br>

    <div>
        <label>Prazo:</label><br>
        <!-- type="date" facilita a entrada do usuário e o formato padronizado pro banco -->
        <input type="date" name="prazo" value="{{ demanda[6] }}" required>
    </div>
    <br>
    
    <button type="submit">Atualizar</button>
    <a href="/"><button type="button">Cancelar</button></a>
</form>

{% endblock %}